/*CSS Style Sheet for Project 4*/

/* 

COLOURS

Primary Brand Colour:
Secondary Brand Colour:
Button CTA Colour:
Button Hover Colour:
Background Colour:

Gold: #AE8241
Red: #F1444C
Light Green: #42462E
Dark Green: #353B31
Cream: #E7DDC6
Off-White: #F5F1E5

FONT CHOICES

Playfair Display

Bold Titles: Playfair Display Regular, 113pt

Sub Titles: Playfair Display Semi Bold, 40pt

Body Text:

Light Body Text: 


h1 - Playfair Display Bold 50pt
h2  - Playfair display semibold 40p

h3 - Playfair Display Medium 13p
h5 - Playfair Display Regular 13p

h4 - Playfair Display Medium 113pt
h6 - Playfair display medium 15p

Playfair Display Medium 113pt


p1  - Playfair Display Regular 25p
p2 - Playfair Display Regular 20p
p3 - Playfair Display Italic 15p
p4 - Playfair Display Italic 10p
p5 - Playfair Display Regular 18p

Product Card Styling: 
Title: h3 Playfair Display Medium 13p
Description: h5 Playfair Display Regular 13p
Price: p4 Playfair Display Italic 10p
*/




/*global styling*/

img {
  max-width: 100%;
}
/*anything that applies to everything*/
* {
  margin: 0;
  padding: 0;
}

/*box model fix*/
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {

  box-sizing: inherit;
}

/*clearfix*/
.clearfix:before,
.clearfix:after {

  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.row:before,
.row:after {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

body {
  background-color: #f5f1e5;
  margin: 0;
  overflow-x: hidden;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  margin: 0;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}


/* Type Hierarchy Styling */

h1 {
  font-family: 'Playfair Display';
  font-size: 50px;
  color: #353B31;
}

h2 {
  font-family: 'Playfair Display';
  font-size: 40px;
  color: #353B31;
}

h3 {
  font-family: 'Playfair Display';
  font-size: 13px;
  color: #353B31;
}

h4 {
  font-family: 'Playfair Display';
  font-size: 113px;
  color: #F1444C;
}

h5 {
  font-family: 'Playfair Display';
  font-size: 13px; 
  font-style: italic;
  color: #353B31;
}

h6 {
  font-family: 'Playfair Display';
  font-size: 15px; 
  font-style: medium;
  color: #353B31;
}

p1 {
  font-family: 'Playfair Display';
  font-size: 25px; 
  color: #353B31;
}

p2 {
  font-family: 'Playfair Display';
  font-size: 20px;
  color: #353B31;
}

p3 {
  font-family: 'Playfair Display';
  font-size: 15px; 
  font-style: italic;
  color: #353B31;
}

p4 {
  font-family: 'Playfair Display';
  font-size: 10px; 
  font-style: italic;
  color: #353B31;
}

p5 {
  font-family: 'Playfair Display';
  font-size: 18px;
}



.cta-button {
  display: block;
  width: 240px;
  height: 53px;
  margin-bottom: 50px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 6px;

  display: flex;
  justify-content: center;
  flex-shrink: 0;

  text-align: center;
  text-decoration: none;

  background-color: #AE8241;
  color: #F5F1E5;
}

.cta-button:hover {
  background-color: #F1444C;
  text-decoration: none;
  color: #F5F1E5;
}

.title {
  height: 180px;
  max-height: 13vw;
  width: 100;
  background-color: #AE8241;
  margin-top: 12px;
  margin-bottom: 12px;
  border-bottom: 1px solid #F5F1E5;
  border-color: #F5F1E5;
}

.title h4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #F5F1E5;
  text-align: center;
  padding-top: 10px;
}

.title h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #F5F1E5;
  text-align: center;
  padding-top: 65px;
}




.babytitle {
  height: 122px;
  max-height: 12vw;
  width: 100%;
  background-color: #AE8241;
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 0px;
  margin-bottom: 0px;

}




.babytitle h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #F5F1E5;
  text-align: center;
  margin: auto;

}


/*****PRODUCT CARD STYLING******/

#productchunk {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.productcard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;

  margin-bottom: 10px;
  margin-top: 10px;
}

.backgroundbox {
  width: 283px;
  height: 441px;
  position: relative; 
  background: #E7DDC6;
}

.innerbox {
  width: 230px;
  height: 390px;
  position: absolute;
  top: 26px;
  left: 27px;
}

.innerbox img {
  width: 230px;
  height: 307px;
  position: absolute;
  top: 0;
  left: 0;
}

.cardcopy {
  width: 230px;
  height: 83px;
  background: #F5F1E5;
  position: absolute;
  bottom: 0; 
  left: 0;
}

.cardtext {
  justify-content: center;
  text-align: center;
  padding-top: 15px;
}

.cardtext h3 {
  margin-bottom: 5px;
}

.cardtext h5 {
  margin: 0px 0 0;
  font-style: inherit;
  color: #42462E;
}

.cardtext a h3:hover {
  color: #F1444C;
}


.cardtext a {
  text-decoration: none;

}

/*******************************************************************************************************************************************
 *********************************************** HOMEPAGE STYLES **************************************************************************/


/************************************HERO***************************/


#hero h4 {
  text-align: center;
  padding-top: 180px;
  font-size: 246px;
}

#hero {
  background-image: url('../images/hero.png');
  height: 1150px;
}


/************************************VISION***************************/
#vision {
  margin: auto;
  margin-top: -350px;
  text-align: center;
  justify-content: center;
  max-width: 838px;
}

#vision h2 {
  text-align: center;
  padding: 24px;
}

#vision p1 {
  text-align: center;
}

#vision p1:first-child {
  text-align: center;
}


/************************************DISCOVER***************************/
#discover {
  background-image: url('../images/discoverbackground.png');
  background-repeat: no-repeat;
}

.discover #productchunk {
  padding-top: 100px ;
}

/************************************EXPLORE***************************/

#explore {
  justify-content: center;
  height: auto;
  padding: 0;
}

.explorechunk {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; 
  text-align: center;
  margin: auto;
  padding: auto;
}

.square {
  margin: auto;
  padding: auto;
  flex: 1;
  display: flex;
  align-items: center;
}

.explorechunk div {
  position: relative;
}

.explorechunk h2 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #F5F1E5;
  bottom: 10px;
  width: 100%;
  padding: 10px;
}

/************************************ABOUT***************************/

#about {
  padding: 0;
  background-color: #AE8241;
  height: auto; 
  justify-content: center;
}

#about h4 {
  font-size: 8vw;
  color: #F5F1E5;
  text-align: center;
}

#aboutbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: auto;
  height: auto;
}

.aboutcopy {
  display: flex;
  flex-direction: column; 
  justify-content: space-between;
}

.aboutbrick {
  justify-content: center;
  margin: 20px;
  max-width: 400px;
  width: 100%;
}

#about h2 {
  color: #F5F1E5;
  margin-bottom: 20px;
  text-align: center;
}

#about p1 {
  color: #F5F1E5;
  padding: 0;
}

.cta-about {
  display: block;
  width: 240px;
  height: 53px;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 6px;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  text-align: center;
  text-decoration: none;
  background-color: #AE8241;
  color: #F5F1E5;
  border: 1px solid #F5F1E5;
}

.cta-about:hover {
  background-color: #F1444C;
  text-decoration: none;
  color: #F5F1E5;
  border: 1px solid #F1444C;
}

.stocklist a {
  color: #F5F1E5;
}


/************************************MISSION***************************/

#mission {
  margin: auto;
  text-align: center;
  justify-content: center;
  max-width: 838px;
  padding-top: 100px;
}

#mission h2 {
  text-align: center;
  padding: 24px;
}

#mission p1 {
  text-align: center;
}

#mission p1:first-child {
  text-align: center;
}


/*******************************************************************************************************************************************
 *********************************************** ABOUT STYLES ******************************************************************************/

/************************************HERO***************************/


.about-hero-image {
  background-image: url('../images/abouthero.png');
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 650px;
  margin-bottom: 0;
}

.about-hero-text {
  text-align: center;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.about-hero-text h5 {
  color: #F5F1E5 ;
  font-size: 30px;
}

.about-hero-text h2 {
  color: #F5F1E5;
}

/************************************OUR STORY***************************/

.storychunk {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap; 
  text-align: left;
  position: relative; 
  margin: 0;
  padding: 0;
}

#ourstory img {
  max-width: 100%;
  max-height: 100%;
  background-size: cover;
}


.storytext {
  width: 100%;
  padding-left: 113px;
  padding-right: 113px;
}


/************************************PHILOSOPHY***************************/

.philchunk {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap; 
  text-align: left;
  position: relative; 
  margin: 0;
  padding-top: 70px;
  padding-bottom: 70px;
  padding-right: 50px;
  padding-left: 50px;
}

.philtext {
  width: 573px;
  max-width: 100%;
  text-align: justify;
}


/************************************EXPLORE PRODUCTS***************************/

#exploreproducts .babytitle {
  margin-bottom: 30px;
}

/*******************************************************************************************************************************************
 ************************PRODUCT STYLES ****************************************************************************************************/

/************************************HERO***************************/

#producthero {
  background-image: url('../images/producthero.png');
  height: 25%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 400px;
  margin-bottom: 50px;
  margin-right: auto;
  margin-left: auto;
}

#product-hero-text h1 {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #F5F1E5 ;
}


/************************************PRODUCTS***************************/

#productcards {
  margin: auto;
  justify-content: center;
  align-items: center;
}

/************************************RECENTLY VIEWED***************************/


/************************************SHARED BY***************************/
#sharedby {
  justify-content: center;
  text-align: center;
}

.sharedchunk {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap; 
  position: relative; 
  margin: 0;
  padding-top: 30px;
  padding-bottom: 67px;
  padding-left: 10px;
  padding-right: 10px;
}

.instagram {
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 5px;
  padding-left: 5px;
  max-width: 215px;
  max-height: 215px;
}

/*******************************************************************************************************************************************
 *********************************************** AUGUST WIND STYLES **************************************************************************/

/************************************HERO***************************/

#aughero {
  background-image: url('../images/augwindhero.png');
  height: 25%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 400px;
  margin-bottom: 10px;
  margin-right: auto;
  margin-left: auto;
}

#aug-hero-text h1 {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #F5F1E5 ;
  width: 730px;
}


/************************************AUGUST WIND PRODUCT***************************/
 

/************CAROSEL********/

#carouselExample {
      max-width: 450px;
      margin: auto;
  }

#carouselExample img {
      width: 100%;
      height: auto;
      margin-bottom: 30px;
  }

.carousel-item {
  margin-bottom: 0;
  padding-bottom: 0;
  max-height: 500px;
}

#carpreview {
  width: 34.5%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0;
}

#lil {
  padding-left: 0 !important;
}

 .augchunk {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap; 
  text-align: left;
  position: relative; 
  margin: 0;
  padding: 0;
}

.augtext {

  width: 100%;
  padding-right: 60px;
}

#augtop p2 {
  font-size: 18px;

}
#augsuqare {
  flex-direction: column;
  margin: 50px;
}

#augsuqarecarosel {
  flex-direction: column;
  margin-left: 50px;
}

#augustbutt {
  display: flex;
  display: flexbox;
}

/* TAB STYLING! ADAPTED FROM W3 SCHOOLS: https://www.w3schools.com/howto/howto_js_tabs.asp */

.product-description {
  padding-bottom: 40px;
}

.tabs {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.tabs li {
  margin-right: 10px;
}

.tabs a {
  text-decoration: none;
  padding: 10px;
  display: block;
  background-color: #F5F1E5;
  border-radius: 5px;
}

.tabs a.active {
  background-color: #F5F1E5;
  padding-left: 0;
}

/* TAB CONTENT STYLING ADAPTED FROM W3 SCHOOLS https://www.w3schools.com/howto/howto_js_tabs.asp*/

.tabs-content {
  padding: 0;
}

.tabs-content li {
  list-style: none;
  background-color: #F5F1E5;
  margin-top: 10px;
  display: none;
}

.tabs-content li.active {
  display: block;
}

.tabs li :hover {
  color: #F1444C;
}

.tabs-content p5 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.tabs-content h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.cta-button-aug {
  display: block;
  width: 240px;
  height: 53px;
  margin-bottom: 20px;
  margin-top: 22px;
  margin-left: 0;
  margin-right: auto;
  padding: 6px;

  display: flex;
  justify-content: center;
  flex-shrink: 0;

  text-align: center;
  text-decoration: none;

  background-color: #AE8241;
  color: #F5F1E5;
}

.cta-button-aug:hover {
  background-color: #F1444C;
  text-decoration: none;
  color: #F5F1E5;
}

.email-text h6 {
  margin-bottom: 20px;
  font-style: italic;
  color: #353B31;
}

/************ ABOUT PAGE EMAIL FORM BOOTSTRAPS CSS FOR FORM https://getbootstrap.com/docs/4.0/components/forms/******/

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 15px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #AE8241;
  background-color: #E7DDC6;
  background-clip: padding-box;
  border: 1px solid #E7DDC6;
  border-radius: 0rem;
  }

  .input-group-text {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.375rem 0.75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.85;
  color: #E7DDC6;
  text-align: center;
  white-space: nowrap;
  background-color: #AE8241;
  border: 1px solid #AE8241;
  border-radius: 0rem;
}

.input-group {
  width: 80%;
}


/************************************QUOTE***************************/

#quote {
  background-color: #AE8241;
  text-align: center;
  height: 200px;
}
 
#quoteback {
  padding-top: 60px;
  padding-bottom: 60px;
  padding-right: 200px;
  padding-left: 200px;
  padding-bottom: 0;
}


#quote h2 {
  color: white;
  font-size: 2vw;
}

#quote h5 {
  color: white;
}

 
/************************************AROMATIC PROFILE***************************/

.aromachunk {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap; 
  text-align: left;
  position: relative; 
  margin: 0;
  padding: 0;
}

#aromatic img {
  max-width: 100%;
  max-height: 100%;
  background-size: cover;
}


#aromatic p5 {
  color: black;
  margin-top: 30px;
}

#aromatic h6 {
  color: black;
  margin-bottom: 10px;
  margin-top: 10px;
}

.aromatext {
  width: 100%;
  padding-left: 113px;
  padding-right: 113px;
}

#orange:hover {
  opacity: 10%;
  transition: opacity 3s;

}

#orange {
  position: relative;
  z-index: 2;
}

#orangesquare a {
  position: absolute;
  z-index: 1;
  margin-left: 180px;
  margin-right: 180px;
  color: #F1444C;
}


#orangesquare {
  text-align: center;
  display: flex;
  justify-content: center;
}
/************************************YOU MAY ALSO LIKE***************************/


/************************************SHARED BY***************************/


/*******************************************************************************************************************************************
 *********************************************** HEADER STYLES **************************************************************************/

header {

  margin: 0;
  
  background-color: #F5F1E5;
  justify-content: center;

  flex-wrap: wrap;
  flex-direction: column;
  position: fixed;
  z-index: 3;
}

.navmenu a {
  background-color: #F5F1E5;
  color: #353B31;
}

.navmenu a:hover {
  text-decoration: underline;
  color: black;
}

.navmenu {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: #F5F1E5;
  width: 100%;
  margin: 0;
}

.navmenu .row {
  margin: 0;
}

/*Call to Action Banner Styling*/

#headerbanner {
  background-color: #F1444C;
  text-align: center;
  height: 48px;
  width: 100%;
  flex-shrink: 0;
  margin: 0;

}

#headerbanner h6 {
  padding-top: 12px;
}

#headerbanner a {
  background-color: #F1444C;
  color: #F5F1E5;
}

#headerbanner a:hover {
  background-color: #F1444C;
  text-decoration: underline;
  color: #F5F1E5;
}

/*Main Nav Styling*/

.topnav {
  background-color: #F5F1E5;
  overflow: hidden;
  font-family: 'Playfair Display';
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #353B31;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {

  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  text-decoration: underline;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {

  display: none;
}











/*******************************************************************************************************************************************
 *********************************************** FOOTER STYLES **************************************************************************/


footer {
  background-image: url('../images/footer.png'); 
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding: px;
  position: relative;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}

.footercontent {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 350px;
  padding-bottom: 66px;
  text-align: left;
}

.footercontent h6 {
  margin-bottom: 1px; 
  color: #F5F1E5;
}

.footertext1,
.footertext2,
.footertext3,
.footertext4 {

  flex: ; 
  padding-left: 30px;
  padding-right: 30px;
}

#bottomtag {
  margin: 0;
  padding-bottom: 66px;
}


footer p2 {
  color: #F1444C ;
}

footer h2 {
  color: #F1444C;
}

footer a {
  color: #F1444C;
}

.empty {
  height: 600px;
}

/* FROM BOOTSTRAPS FORM EMAIL https://getbootstrap.com/docs/4.0/components/forms/ */ 

input[type="email"] {

  border: none;
  border-bottom: 1px solid #F5F1E5; 
  width: 350px;
  background: none;
  margin-top: 10px;
  padding: 5px; 
  font-size: 16px; 
  font-family: 'Playfair Display';
  color: #A1A1A1;
}


input[type="email"]:focus {

  outline: none;
  border-bottom: 2px solid #F5F1E5;
}

button {

  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  color: #F5F1E5;
}






/********************************************************************************************************************************************
***************************************MEDIA QUERIES*****************************************************************************************
*********************************************************************************************************************************************
*********************************************************************************************************************************************
*********************************************************************************************************************************************
*********************************************************************************************************************************************/



/*******************************************************************************************************************************************
 ***************************************MIDDLE QUERIES *************************************************************************************/

/******************************************* HOME ******************************************************************************************/

@media only screen and (max-width: 992px) and (min-width: 768px) {


  #hero h4 {
    font-size: 8rem;
    font color: black;
  }
}






/**************************************************** ABOUT ********************************************************************/



/**************************************************** PRODUCT ********************************************************************/



/**************************************************** AUGUST WIND ********************************************************************/


/**************************************************** HEADER ********************************************************************/


/**************************************************** FOOTER ********************************************************************/







/*******************************************************************************************************************************************
 *********************************************** PHONE QUERIES **************************************************************************/








/**************************************************** HOME ********************************************************************/


@media (max-width: 768px) {

  #aug-hero-text h1 {

    width: 100%; 
    padding: 0 20px;
  }

  #hero h4 {

    font-size: 9rem;
  }

  #vision {

    padding-top: 220px;
    padding-left: 35px;
    padding-right: 35px;
  }


    #aboutbox {

        padding: 10px; 
    }

    .aboutcopy {

        flex-direction: column; 
    }

    .aboutline {

        display: none; 
    }

    .aboutbrick,
    #aboutcol {

        margin: 10px; 
    }

    .cta-about {

        width: 100%; 
    }

  .productcard {

    flex-wrap: wrap;
    flex-direction: row;
    max-width: 100vw;
  }

  #productchunk {

    flex-direction: column;
    justify-content: center;
    padding-top: 0px;
  }

  .cta-button {

    width: 80%;

  }

  .col-lg-auto {

    justify-content: center;
  }

#discover .cta-button {

  margin-top: 0px;

}

  .explorechunk {

    flex-wrap: wrap;
    flex-direction: column;
    max-width: 100vw;
  }

  .explorechunk h2 {

    font-size: 20px;
  }

  .square {

    max-width: 100vw;

  }

  #mission {

    font-size: rem;
    padding-left: 35px;
    padding-right: 35px;
  }



/**************************************************** ABOUT ********************************************************************/
  .storychunk  {
    max-width: 100vw;
    flex-wrap: wrap;
    flex-direction: column;
  }


  .storychunk h2 {
    font-size: 4vw;
  }

  #atwork {
    order: 1;
  }

  #strive {
    order: 2;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 50px;
    padding-right: 50px;
  }

  #imben {
    order: 4;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 50px;
    padding-right: 50px;
  }

  #process {
    order: 3;
  }

  .philchunk {
    flex-wrap: wrap;
    flex-direction: column;

  }

  .bottomphil {
    padding-top: 20px;

  }


/**************************************************** PRODUCT ********************************************************************/



/**************************************************** AUGUST WIND ********************************************************************/
/* AROMA CHUNK RESPONSIVENESS */

  

  .augchunk {
    display: flex;
    flex-direction: ;
  }
  
  .augchunk {
    flex-direction: column;
  }

  #carouselExample {
    width: 100%; /* Make the carousel full width */
  }

  #augsuqarecarosel {
    margin: auto;
    max-width: 83vw;
  }

  .augtext {
    width: 100%;
    padding: 0; 
  }


  #carouselExample {
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 100%;

  }

  .product-description p1 {
    font-size: 22px;
  
  }

  .aromachunk div {

    width: 100%; 
    max-width: 100%;
    flex-wrap: wrap;
  }

  .aromachunk {

    flex-wrap: wrap;
  }

  .aromachunk h2 {

    font-size: 20px;
  }

  #quoteback {

  padding-top: 60px;
  padding-bottom: 60px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 0;
}

#quoteback h2 {
  font-size: 4vw;

}

.aromachunk {

  flex-direction: column;
}

#warmearth {
  padding-top: 40px;
}

.sharedchunk {
  padding-bottom: 30px;
}

#sharedby p1 {
  font-size: 3vw;

}

#sharedby {
  padding-bottom: 50px;
}

.sharedchunk {
  padding-top: 0;
}

.babytitle {
  padding: 0;
}



/**************************************************** HEADER ********************************************************************/

  .navmenu {

    display: flex;
    flex-direction: column;
  }



  #headerbanner {
    display: ;

  }



/**************************************************** FOOTER ********************************************************************/

  footer {

    background-image: url('../images/mobilefooter.png'); /* WHY ISNT THIS WORKING */
    height: 2500px;
  }



  .footercontent {

    flex-direction: column;
    padding-top: 150px;
    text-align: left;

  }

  .footertext1,
  .footertext2,
  .footertext3,
  .footertext4 {

    width: 100%; 
    margin-bottom: 20px; 
    flex: 1;
    align-items: center;
  }

  .footercontent h6 {

    color: #F5F1E5;
  }
}




/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}





